<!DOCTYPE html>
<html>
  <head>
    <title>ReactJS on Rails</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="style.css" media="all" rel="stylesheet" />
  </head>
  <body>
    <textarea id="source">

name: inverse_center
layout: true
class: center, middle, inverse
---
# ReactJS on Rails #
by: Girish Sonawane
<br>
<br>
girish@cuberoot.in
<br>
<br>
Twitter, Github: @girishso
<br>
<br>
.red[RubyConf India-2015]



---
# Agenda

## React
## React on Rails

---
name: inverse
layout: true
class: left, top, inverse

---

# React
- Javascript Library for building User Interfaces

--
- from facebook/instagram

---

# React

## View

--
## <del>Models</del>

--
## <del>Controllers</del>

--
## <del>bindings</del>


---

# Why React?

![](images/frameworks.png)

---

# Why React?

- Easy to pickup

--
  - Javascript

--
  - Small API

--
- Maintainable code

--
- React Native

---
template: inverse_center
# You don't need to touch DOM

---
# React 

- Components

---

# React Components

- Separate your concerns

---

![alt text](images/b1.png)

# React Component

---

![alt text](images/b2.png)

# React Component

---

![alt text](images/b3.png)

# React Component

---

![alt text](images/b4.png)

# React Component

---

![alt text](images/b5.png)

# React Component

---
class: inverse, left

# React Components

- Talk business language

--
- Composable

--
- Unit testable

--
- Reusable

--
- Encapsulated

---

# React Components

- Markup

--
- Behaviour

---

# React Components

## Declarative

--

### Describe how your component looks like at any point in time

--

### Pseudo-code

```
CommentList ->
  render ->
    comments_array = this.state.data.map(comment) ->
      <Comment data=comment />

    return (
      <ul>
        {comments_array}
      </ul>)
```

---

# CommentBox Component

![](images/d1.png)

---

# CommentBox Component

- Server sends new data...

--

```
//
// comments sent by server
 data = [
    {"author": "Pete Hunt", "text": "Hey there!", ... },
    {"author": "Girish", "text": "Heya!", ... }
 ]

```

--
## Tell React - deal with it!

```
this.setState({data: data})
```

---

# CommentBox Component

![](images/d1.png)

---

# CommentBox Component

![](images/d2.png)

--

## Re-render entire app with every single update



---
# Virtual DOM

--
## DOM is the new CPU

--
## in memory tree structure

--
## on data update...

--
### Create a new Virtual DOM

--
### Diff with the old one

--
### Batch render minimum changes to browser DOM

---
# Virtual DOM ++

## all javascript

--
### Execute on server

--
### Server Side Render
#### SEO friendly

---
# Creating Components

---
layout: false
class: inverse, left
# HelloWorld Component

```
var HelloWorld = React.createClass({
  render: function() {
    return React.DOM.h1({onClick: someFunc}, "Hello, world!");
  }
});


React.render(React.createElement(HelloMessage), 
*               document.getElementById("app"));
```

### DOM generated by component
```html
<h1>Hello, World!</h1>
```

---
layout: false
class: inverse, left
# HelloWorld Component JSX

```
var HelloWorld = React.createClass({
  render: function() {
    return <h1 onClick={someFunc}>Hello, world!</h1>
  }
});


React.render(<HelloWorld />, 
               document.getElementById("app"));
```

---

layout: false
class: inverse, left
# jsx compiles to...

```
var HelloWorld = React.createClass({
  render: function() {
    return React.DOM.h1({onClick: someFunc}, "Hello, world!");
  }
});


React.render(React.createElement(HelloWorld), 
               document.getElementById("app"));
```

---
class: top inverse
# React API

## Component Lifecycle methods

--
- componentWillMount()

--
- componentDidMount()

--
- componentWillUnmount()

---
class: center middle inverse
# Using React in Rails

---
class: top inverse
# 1. react-rails gem

--
- Gemfile
```ruby
gem 'react-rails', github: 'reactjs/react-rails'
```

--
- generator

```javascript
rails g react:install

app/assets/javascripts/components/
app/assets/javascripts/components.js
```

--
- application.js
```
//= require react
//= require react_ujs
//= require components
```

---
class: top inverse
# 1. react-rails gem

- View helper
```ruby
<%= react_component('MyWidget', name: 'Awesome') %>
```

--

- Server Side Rendering
```ruby
<%= react_component('MyWidget', {name: 'Awesome'}, {prerender: true}) %>
```

---
class: top inverse
# 2. Separate React App

--

## Rails as API Server

--
  - rails-api gem

---
class: top inverse
# 2. Separate React App

## Node.js React Client

--

- Github wiki - https://github.com/facebook/react/wiki

--
- react-starter-template - https://github.com/johnthethird/react-starter-template

--
  - coffeescript

--
  - bootstrap

--
  - Server Side Rendering

--
  - live reloading

---
class: center middle inverse
# Thank You!
## Twitter, Github: @girishso
## girish@cuberoot.in

    </textarea>
    <script src="remark.js" type="text/javascript">
    </script>

        <script type="text/javascript">
      var hljs = remark.highlighter.engine;
    </script>
    <script type="text/javascript">
      var slideshow = remark.create({
          highlightStyle: 'monokai',
          highlightLanguage: 'javascript'
        }) ;
    </script>

  </body>
</html>

