<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="style.css" media="all" rel="stylesheet" />
  </head>
  <body>
    <textarea id="source">

name: inverse_center
layout: true
class: center, middle, inverse
---
# ReactJS on Rails #
by: Girish Sonawane
<br>
<br>
girish@cuberoot.in
<br>
<br>
Twitter, Github: @girishso


---
# Agenda

## React
## React on Rails

---
name: inverse
layout: true
class: left, top, inverse

---

# React
## Javascript Library for building Single Page Applications

--

## View

--

## <del>Models</del>

--

## <del>Controllers</del>


---
# DOM Manipulation

--
## .red[is painful]

---
template: inverse_center
# You don't need to touch DOM

---
# React 

- Components

--

- Not Templates

---

# React Components

--

- Separate your concerns

--

![alt text](images/comment_box1.png)

---

# React Components

- Separate your concerns

![alt text](images/comment_box2.png)

---

# React Components

- Separate your concerns

```
- CommentBox
  - CommentList
    - Comment
    - Comment
  - CommentForm
```

---

# React Components

- Talk business language

--

- Unit testable

--

- Reusable

--

- Encapsulated

---

# React Components
--

## Self contained

--

## Markup

--

## Behaviour

---

# React Components

--

## Declarative
### Describe how your component looks like at any point in time

--

## Anytime data changes

--

## Tell React - deal with it!

--

## Re-render entire app with every single update

---
# Virtual DOM

--
## treats DOM like a CPU

--
## in memory tree structure

--
## on data update...

--
### Create a new Virtual DOM

--
### Diff with the old one

--
### Batch render minimum changes to browser DOM

---
# Virtual DOM ++

## all javascript

--
### Server Side Render
#### SEO friendly

---
# Creating Components

---
layout: false
class: inverse, left
# HelloWorld Component

```
var HelloMessage = React.createClass({
  render: function() {
    return React.DOM.span({onClick: someFunc}, "Hello, world!");
  }
});

var App = React.createClass({
  render: function() {
    return React.DOM.div({className: "main"}, [
      React.createElement(HelloMessage)
    ]);
  }
})

React.render(React.createElement(App), 
*               document.getElementById("content"));
```

---
layout: false
class: inverse, left
# HelloWorld Component JSX

```
var HelloMessage = React.createClass({
  render: function() {
    return <span onClick={someFunc}>Hello, world!</span>
  }
});

var App = React.createClass({
  render: function() {
    return <div>
            <HelloMessage />
           </div>
    
  }
})

React.render(React.createElement(App), 
               document.getElementById("content"));
```

---

layout: false
class: inverse, left
# jsx compiles to...

```
var HelloMessage = React.createClass({
  render: function() {
    return React.DOM.span({onClick: someFunc}, "Hello, world!");
  }
});

var App = React.createClass({
  render: function() {
    return React.DOM.div({className: "main"}, [
      React.createElement(HelloMessage)
    ]);
  }
})

React.render(React.createElement(App), 
               document.getElementById("content"));
```

---
class: top inverse
# React API

--
## Component Lifecycle methods

--
- componentWillMount()

--
- componentDidMount()

--
- componentWillUpdate()

--
- componentDidUpdate()

--
- componentWillUnmount()

---
class: top inverse
# Using React in Rails

---
class: top inverse
# 1. react-rails gem

--
- Gemfile
```ruby
gem 'react-rails', github: 'reactjs/react-rails'
```

--
- generator
```
rails g react:install
```

--
- application.js
```
//= require react
//= require react_ujs
//= require components
```

---
class: top inverse
# 1. react-rails gem

- View helper
```ruby
<%= react_component('MyWidget', name: 'Awesome') %>
```

--

- Server Side Rendering
```ruby
<%= react_component('MyWidget', {name: 'Awesome'}, {prerender: true}) %>
```

---
class: top inverse
# 2. Separate React App

--

## Rails as API Server

--
  - rails-api gem

---
class: top inverse
# 2. Separate React App

## Node.js React Client

--

- Github wiki - https://github.com/facebook/react/wiki

--

- react-starter-template - https://github.com/johnthethird/react-starter-template

--
  - coffeescript

--  
  - bootstrap

--
  - Server Side Rendering

--
  - live reloading


    </textarea>
    <script src="remark.js" type="text/javascript">
    </script>

        <script type="text/javascript">
      var hljs = remark.highlighter.engine;
    </script>
    <script type="text/javascript">
      var slideshow = remark.create({
          highlightStyle: 'monokai',
          highlightLanguage: 'javascript'
        }) ;
    </script>

  </body>
</html>

